// {   "extends": ["react-app", "prettier"],   "plugins": ["prettier"],   "rules": {     "prettier/prettier": ["error", { "endOfLine": "auto" }]   } } 
{
    "extends": ["react-app", "plugin:prettier/recommended"],
    "rules": {     "prettier/prettier": ["error", { "endOfLine": "auto" }]   } 
}
  